


:root {
  --bg-color: #121212; 
  --text-color: #ffffff; 
  --darkgrey: #272727;
  --red: #ff0000;
  --orange:  #ff7f00;
  --yellow: #ffff00;
  --green: #00ff00;
  --greenblue: #00ffd0;
  --turquoise:  #34b3a6;
  --blue: #0000ff;
  --indigo: #4b0082;
  --violet: #8a2be2;
  --pink: #ff00ff;
  --spotifygreen: #1ED760;
  --spotifydarkgreen: rgba(90, 221, 130, .4);


  --mediumgrey: #999999;
  --lightgrey: #dddddd;

}

body.light-mode {
  --bg-color: #ffffff;
  --text-color: #121212;
  --darkgrey: #dddddd;

}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {

}

h2 {
  font-weight: 400;
}



.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 9;
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--darkgrey);
  padding: 10px 20px;
}

.mapped {
  color: var(--green);
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Courier New', monospace;
}

.navbar-drop-btn {
  background-color: grey;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  padding: 5px;
  cursor: default;
}

.pfp {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.dropdown {
  position: absolute;
  background-color: var(--mediumgrey);
  border-radius: 5px;
  width: 150px;
  right: 20px;
  top: 70px;
}

.dropdown div {
  padding: 10px 8px;
  cursor: default;
}
.dropdown div:first-child {
  border-radius: 5px 5px 0 0;
}
.dropdown div:last-child {
  border-radius: 0 0 5px 5px;
}

.dropdown div:hover {
  background-color: var(--lightgrey);

}


.modal-container {
  position: absolute;
  top:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}


.modal {
  top: 30vh;
  width: min(600px, 80vw);
  border: 2px solid var(--mediumgrey);
  border-radius: 10px;
  background-color: var(--darkgrey);
  padding: 20px;
}


.x {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

/* splash.js */


.splash {

}

.splash-section-1 {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  height: 800px;
  background-color: #121212;
}

.splash-section-1-left {
  
}

.splash-section-1-right {
  /* border: 1px solid blue; */
}

.splash-img-1 {
  width: 800px;
}

.login-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 15px 20px;
  border-radius: 50px;
  background: linear-gradient(90deg, #2d5c91, #552f6d);
}

.splash-section-2 {
  box-sizing: border-box;
  padding: 10vw;
  height: 800px;
  margin: 50px 0;
  background: linear-gradient(90deg, #2d5c91, #552f6d);
  display: flex;
  justify-content: center;
  gap: 10px


}

.splash-section-2-column {
  text-align: center;
}

.splash-section-3 {
  padding: 0 50px;
  height: 400px;
  background-color: black;
  display: flex;
  gap: 50px;
  
}

.splash-section-3-column {
  
}

.splash-section-3-column h4 {
  color: grey;
}


/* DataSelector.js */


.data-selector {
  margin: 10px auto;
  width: calc(90% - 20px);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: var(--darkgrey);
}

.select {
  margin: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 50px;
  border: unset;
  padding: 0 3px;
}


/***** Graph.js ***********/


.loading-container {
  position: fixed;
  z-index: 9;
  top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.loading {
  border: 4px solid var(--spotifygreen);
  border-left-color: var(--darkgrey);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.flex-container {
  margin-top: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
}


.flex-item {
  box-sizing: border-box;
  background-color: var(--darkgrey);
  position: relative;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
}

.flex-item-long {
  box-sizing: border-box;
  background-color: var(--darkgrey);
  position: relative;
  border-radius: 5px;
  padding: 10px;
  width: calc(60% + 10px);
}

.keysig {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  left: 30%;
  right: 30%;
  bottom: 35%;
  text-align: center;
  font-size: 5vw;
}


/* DynoGraph  ******COPIED**********/


.dyno-container {
  height: 500px;
}


#dyno-select {
  background-color: var(--bg-color);
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;

}

#dyno-select button {
  border-radius: 5px;
  background-color: inherit;
  color: var(--text-color);
	outline: none;
  flex: 1;
	cursor: pointer;
	border: none;
}

.selected {
  background: #3b9d5c !important;
}


.dyno-text {
  background-color: var(--darkgrey);
  flex: 1;
  border-radius: 5px;
  padding: 10px
}

#average{
  font-size: 18px;
}

.descriptions {
  font-size: 13px;
}



/* SingleTrack*/

.tracks-container {
  height: 800px;
  margin-bottom: 100px;
}

.track-list-container {
  display: flex;
  flex-direction: column;
}

.sortby {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: flex-end;
}

.track-list {
  list-style: none;
  overflow-y: scroll;
  background-color: var(--bg-color);
  border-radius: 5px;
  padding: 0px;
  margin: 0;
}

.track-list li{
  transition: .2s;
  transition-timing-function: ease-in-out;
  border-bottom: 1px solid rgb(156, 156, 156);
  margin: 0;
}
.track-list li:hover{
  background-color: var(--spotifydarkgreen);
  cursor: pointer;
}

.selected-track {
  background-color: var(--spotifygreen);
}


.track-row {
  display: flex;
  justify-content: space-between;
  height: 60px;
}


.track-row-left {
  display: flex;
  width: 100%;
}

.album-art{
  width: 60px;
  height: 60px;
}

.song-info{
  padding-left: 20px;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.song-title{
  margin: 0px;
  color: white;
}

.song-artist{
  font-weight: 100;
  margin: 0px;
  margin-left: 5px;
  font-size: 0.8em;
  color: rgb(152, 248, 152);
}




.track-row-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin-right: 10px;
}

.song-duration{
  margin: 0px;
  color: white;
}

.track-details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 800px;
}

.track-details {
  display: flex;
  gap: 10px;
  height: 33%;
}

.track-details-img {
  height: 100%;
}

.track-details-text-container {
  /* border: 1px solid blue; */
  
}

.track-details-title {
  margin-top: 0;
}

.track-details-album {
  
}

.track-details-artist {
  color: var(--spotifygreen)
}

.track-details-props {

}



.radar-container {
  display: flex;
  justify-content: center;
  height: 67%;
}












/* animated barchart thing */
.bar-animation {
  display: flex;
  align-items: flex-end;
  height: 200px;
  position: relative; 
}

.equalizer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bar {
  width: 20px;
  height: 50px;
  margin: 0 5px;
  background-color: black;
  animation: equalizerAnimation 1s infinite alternate; 
}

.bar:nth-child(1) {
  animation-delay: 0.1s; 
  animation-duration: 0.85s;
  background-color: var(--red);
}

.bar:nth-child(2) {
  animation-delay: 0.2s;
  animation-duration: 0.95s;
  background-color: var(--orange);
}

.bar:nth-child(3) {
  animation-delay: 0.3s;
  animation-duration: 0.85s;
  background-color: var(--yellow);
}

.bar:nth-child(4) {
  animation-delay: 0.4s;
  animation-duration: 0.95s;
  background-color: var(--green);
}

.bar:nth-child(5) {
  animation-delay: 0.5s;
  animation-duration: 1.05s;
  background-color: var(--greenblue);
}

.bar:nth-child(6) {
  animation-delay: 0.4s; 
  animation-duration: 0.97s;
  background-color: var(--turquoise);

}

.bar:nth-child(7) {
  animation-delay: 0.3s;
  animation-duration: 0.86s;
  background-color: var(--blue);
}

.bar:nth-child(8) {
  animation-delay: 0.2s;
  animation-duration: 0.78s;
  background-color: var(--indigo);
}

.bar:nth-child(9) {
  animation-delay: 0.4s;
  animation-duration: 0.83s;
  background-color: var(--violet);
}

.bar:nth-child(10) {
  animation-delay: 0.6s;
  animation-duration: 0.99s;
  background-color: var(--pink);
}

@keyframes equalizerAnimation {
  0% {
    height: 50px;
  }
  100% {
    height: 150px; 
  }
}

/* Additional styling to make it look better */
.bar-animation {
  outline: 1px solid transparent;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);

  background-color: #333;
  padding: 20px;
  border-radius: 10px;
}

.bar {
  border-radius: 5px 5px 0 0;
}


::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: none;

}

::-webkit-scrollbar-thumb {
  background-color: var(--mediumgrey);
  border: 8px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--lightgrey);
}